/* CustomTooltip.css */

.tooltip-wrapper {
    position: relative;
    display: inline-block;
  }
  
  .tooltip {
    position: absolute;
    bottom: 100%; /* Position the tooltip above the element */
    left: 50%;
    transform: translateX(-50%);
    padding: 8px 12px;
    background-color: rgba(0, 0, 0, 1);
    color: white;
    font-size: 12px;
    border-radius: 4px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease, visibility 0.2s ease;
    white-space: nowrap;
    z-index: 1000;
    border-radius: 10px;
    min-width: 200px; /* Set max-width to 200px */
    word-wrap: break-word; /* Allow word wrapping */
    white-space: normal; /* Ensure words can wrap */
    height: auto; /* Height adjusts based on content */
  }
  
  .tooltip-wrapper:hover .tooltip {
    opacity: 1;
    visibility: visible;
  }
  